@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  font-weight: 300;
}
.inputs {
  height: 45px;
  padding-left: 1.5em;
  border-radius: 50px;
  border: 1px solid rgba(223, 220, 220, 0.75);
  background-color: transparent;
  font-size: 15px;
  outline: none;
  letter-spacing: 1px;
}